*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #dfe7f5;
    --hero-bg: linear-gradient(160deg, #24294a, #171B34);
    --header: linear-gradient(to right, #eaf0fa, #d3d3ed);

    --dark-blue: #232849;
    --gray: #5B647E;
    --dark-line: #3d415b;


    --light-gray: #C8CEE2;
    --yellow: #F5AF00;

    --gold: #9d740b;

    --white: #ffffff;

    --frame-border: 3px solid var(--yellow);
    --frame-size: 50px;

    --max-width: 1400px;

    --sec-padding: 80px 0;
}

body{
    background-color: var(--bg);
    color: var(--dark-blue);
    font-family: "Golos Text", sans-serif;
}

a{
    text-decoration: none;
}

/* -------- HEADER --------- */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    padding: 16px 0;
    background: var(--header);
    border-bottom: 1px solid var(--light-gray);

}

.header-nav{
    width: 75%;
    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo{
    width: 60px;
    height: 60px;
}

.logo-text{
    max-width: 120px;
    display: flex;
    flex-direction: column;
}

.school-levels{
    color: var(--gray);
    font-size: 14px;
}

.school-name{
    font-size: 18px;
    font-weight: 600;
}

.header-nav a{
    color: var(--dark-blue);
}

.nav-links{
    list-style: none;
    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 25px;

    font-size: 16px;
    font-weight: 500;
}

.nav-btns, .hero-btns{
    display: flex;
    gap: 15px;
}
.nav-btns a, .hero-btns a{
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.nav-btns a.light{
    border: 1px solid var(--dark-blue);
}

.nav-btns a.dark{
    background-color: var(--dark-blue);
    color: var(--white);
}


/* -------- HERO SECTION --------- */
.container{
    width: 75%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-sec{
    width: 100%;
    margin-top: 80px;
    padding: var(--sec-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--white);
    background: var(--hero-bg);
}

.hero-content{
    max-width: 60%;
}

.hero-title{
    font-weight: 700;
    font-size: clamp(32px, 6vw, 48px);
}

.hero-parag{
    color: var(--light-gray);
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.7;
}

.hero-btns a.yellow{
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.hero-btns a.transparent{
    border: 1px solid var(--white);
    color: var(--white);
}

.hero-sec hr{
    margin: 40px 0 25px;
    border: none;
    background-color: var(--dark-line);
    height: 0.5px;
}

.stat{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid var(--gold);
    padding: 0 40px 10px 0;
    margin-right: 40px;
}

.stat:last-child{
    border: none;
}

.stat strong{
    color: var(--yellow);
    font-size: 32px;
}

.stat span{
    color: var(--light-gray);
}

.hero-stats{
    display: flex;
}

.school{
    height: 400px;
}

/* -------- ABOUT SECTION -------- */

.about-sec{
    margin: 0 auto;
    padding: var(--sec-padding);
    width: 75%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-size: 16px;
}
.about-content{
    max-width: 50%;
}
.sec-title{
    font-size: clamp(24px, 2vw, 32px);
}
.about-content p{
    color: var(--gray);
    line-height: 1.7;
}
.about-parag:first-of-type{
    margin: 20px 0 10px;
}

.fact-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.fact{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fact b{
    font-size: 18px;
}

.about-content hr{
    border: none;
    height: 1px;
    background-color: var(--light-gray);
    margin: 30px 0;
}

.about-img{
    width: 450px;
    height: 350px;
    background-color: cadetblue;
}

.img-container{
    position: relative;
    padding: 20px;
}

.img-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--frame-size);
    height: var(--frame-size);
    border-top: var(--frame-border);
    border-left: var(--frame-border);
}

.img-container::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--frame-size);
    height: var(--frame-size);
    border-right: var(--frame-border);
    border-bottom: var(--frame-border);
}